Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
a = [4, 8, 15, 16, 23, 42]
myvar = pd.Series(a)
print(myvar)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd
a1 = [1,2,3,4,5,6,7,8,9,10]
myvar1 = pd.Series(a1)
print(myvar1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [10]:
data={'Name':['Alice','Bob','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']}

In [11]:
myvar2 =pd.DataFrame(data)
print(myvar2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Pandas Series	
One-dimensional
Homogenous – Series elements must be of the same data type.

Pandas DataFrame
Two-dimensional
Heterogenous – DataFrame elements can have different data types.

In [12]:
import pandas as pd
a1 = [1,2,3,4,5,6,7,8,9,10]
myvar1 = pd.Series(a1)
print(myvar1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
data={'Name':['Alice','Bob','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']}
myvar2 =pd.DataFrame(data)
print(myvar2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans :
Dropping columns in the data.
Dropping rows in the data.
Renaming a column in the dataset.
Select columns with specific data types.
Slicing the dataset.

In [14]:
import pandas as pd
data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [30, 25, 40]}
df = pd.DataFrame(data)
df_subset = df.loc[1:2, 'name']
print(df_subset)

1        Bob
2    Charlie
Name: name, dtype: object

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans :dataframe is mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:

import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000